
	.section2{
		background-color: #D3D3D3 ;
		padding: 20px;
	}
	/*------------section3-------------*/
aside{
	background-color: #fff;
	
}
 .img{
width:700px;
height: 600px;
margin-left: 40px;
}
.Text{
	text
	margin-left:px;
}